<!DOCTYPE html>
<html>
<head>
  <title>R01RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-default" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="logo" class="navbar-brand">
					<%= link_to "Reddit Clone", root_path %>
				</div>
				</div>
				<nav class="collapse navbar-collapse" id="navbar-ex1-collapse">
					<% if user_signed_in? %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Submit Link", new_link_path %></li>
						<li><%= link_to "Account", edit_user_registration_path %></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
					</ul>
				<% else %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Sign up", new_user_registration_path %></li>
						<li><%= link_to "Sign In", new_user_session_path %></li>
					</ul>
				<% end %>
				</nav>
			</div>
		</div>
	</header>

	<main class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>
	
	
		<section id="content" class="row">
			<div class="col-md-9 center-block">
				<%= yield %>
			</div>
		</section>
		

	</main>

</body>
</html>
